<ion-header>
  <ion-toolbar>
    <ion-title>Technologies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Technologies used to develop the app</h1><br>
  <h2>Ionic Framework</h2><br>
  <p>Ionic Framework is a platform which allow you develop mobile applications.
    it is a cross platform to develop both ios and android applications.
    <a href="https://ionicframework.com/"></a>
  </p> <br>
  <h2>Node.js</h2><br>
  <p>It is a javascript framework to develop a mobile application over a platform.
    <a href="https://ionicframework.com/"></a>
  </p><br>




</ion-content>
