<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" menu="main-menu"></ion-menu-button>
    <ion-title>Personas</ion-title>
    <ion-buttons slot="secondary">
      <ion-button fill="solid">
        <ion-icon slot="end" name="home"></ion-icon>
        Home
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page" color="warning">
  <ion-card>
    <ion-text color="dark">
   <div><h2>USER 1</h2><br>
  <p text-color="dark">The user will be able to create account and order multiple items in a single
    moment. the user can view the bill. </p><br>
    <h2>USER 2</h2>
    <p id="p2">The user can give review when the order is complete. the user can perform editable actions
      to their profile. change/update their details.
    </p>
  <h2></h2></div>
</ion-text>
  </ion-card>
</ion-content>
