<ion-header>
  <ion-toolbar>
    <ion-title>Personas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card>
   <div><h2>USER 1</h2><br>
  <p>The user will be able to create account and order multiple items in a single
    moment. the user can view the bill. </p><br>
    <h2>USER 2</h2>
    <p>The user can give review when the order is complete. the user can perform editable actions
      to their profile. change/update their details.
    </p>
  <h2></h2></div>
  </ion-card>
</ion-content>
