<ion-header>
  <ion-toolbar>
    <ion-title>Goals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="abc">
  <ion-card>
<div ><h1>INTRODUCTION </h1><b></b>
<p>i am going to create an application using Ionic Framework. The app will include all the necessary
requirements of a basic app. the app will be tested and be completely ready for deployment at the end of the 
module.</p> 
</div>
<div >
  <h1>Final Goal of the application</h1>
  <p>This is app is about an ordering system. it could be any type of order placing app.
  The goal at the end of module will be to develop a mobile application. We should be able to develop
  an application using Ionic framework. we will learn about the components of ionic angular framework.
</p>
</div>
</ion-card>
</ion-content>
