<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" menu="main-menu"></ion-menu-button>
    <ion-title>Sketches</ion-title>
    <ion-buttons slot="secondary">
      <ion-button fill="solid">
        <ion-icon slot="end" name="home"></ion-icon>
        Home
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">
  <div  class="cardbg">
  <h1 >LOGIN/SIGNUP</h1>
  <ion-card>
    <img src="assets/img/Sketch1.png" width="240px" height="400px">
    <div class="card-title">1</div>
    </ion-card>
<h1 >MAIN PAGE</h1>
  <ion-card>
    <img src="assets/img/Sketch2.png" width="240" height="400"/>
    <div class="card-title">2</div>
  </ion-card>
</div>
</ion-content>
