.cardbg {

    
    ion-card {
    background-color: rgb(97, 109, 192);
      position: relative;
      text-align: center;
    }
    .card-title {
      position: absolute;
      top: 36%;
      font: size xx-large;
      width: 100%;
      font-weight: bold;
      color: rgb(186, 12, 12);
      opacity: 40%;
    }}
    